.App {
  text-align: center;
}
#box{
  border-radius: 10px;
  text-align: center;
  width:100px;
  height:50px;
  background: tomato;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


